<!--begin::Content wrapper-->
<div class="d-flex flex-column flex-column-fluid">
  <!--end::Toolbar-->
  <!--begin::Content-->
  <div id="kt_app_content" class="app-content flex-column-fluid">
    <!--begin::Content container-->
    <div id="kt_app_content_container" class="app-container container-xxl">
      <!--begin::Card-->
      <div class="card">
        <!--begin::Card header-->
        <div class="card-header border-0 pt-6">
          <!--begin::Card title-->
          <div class="card-title">
            <!--begin::Search-->
            <form class="d-flex align-items-center position-relative my-1" (submit)="$event.preventDefault()">
              <i class="ki-duotone ki-magnifier fs-3 position-absolute ms-5">
                <span class="path1"></span>
                <span class="path2"></span>
              </i>
              <input
                type="text"
                class="form-control form-control-solid w-250px ps-13"
                placeholder="Search user"
                [formControl]="searchControl"
              />
              <button
                type="button"
                class="btn btn-light ms-3"
                (click)="clearSearch()"
                [disabled]="!searchControl.value"
              >
                Clear
              </button>
            </form>
            <!--end::Search-->
          </div>
          <!--begin::Card title-->
          <!--begin::Card toolbar-->
          <div class="card-toolbar">
            <!--begin::Toolbar-->
            <div class="d-flex justify-content-end">
              <!--begin::Add user-->
              <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#kt_modal_add_user"
                (click)="startCreate()"
              >
                <i class="ki-duotone ki-plus fs-2"></i>Add User
              </button>
              <!--end::Add user-->
            </div>
            <!--end::Toolbar-->

            <!--begin::Modal - Add task-->
            <div
              class="modal fade"
              id="kt_modal_add_user"
              tabindex="-1"
              aria-hidden="true"
            >
              <!--begin::Modal dialog-->
              <div class="modal-dialog modal-dialog-centered mw-650px">
                <!--begin::Modal content-->
                <div class="modal-content">
                  <!--begin::Modal header-->
                  <div class="modal-header" id="kt_modal_add_user_header">
                    <!--begin::Modal title-->
                    <h2 class="fw-bold">{{ editingUser ? 'Edit User' : 'Add User' }}</h2>
                    <!--end::Modal title-->
                    <!--begin::Close-->
                    <button
                      type="button"
                      class="btn btn-icon btn-sm btn-active-icon-primary"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                      (click)="onCancel()"
                    >
                      <i class="ki-duotone ki-cross fs-1">
                        <span class="path1"></span>
                        <span class="path2"></span>
                      </i>
                    </button>
                    <!--end::Close-->
                  </div>
                  <!--end::Modal header-->
                  <!--begin::Modal body-->
                  <div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
                    <!--begin::Form-->
                    <form
                      id="kt_modal_add_user_form"
                      class="form"
                      action="#"
                      [formGroup]="userForm"
                      (ngSubmit)="onSubmit()"
                    >
                      <!--begin::Scroll-->
                      <div
                        class="d-flex flex-column scroll-y me-n7 pe-7"
                        id="kt_modal_add_user_scroll"
                        data-kt-scroll="true"
                        data-kt-scroll-activate="{default: false, lg: true}"
                        data-kt-scroll-max-height="auto"
                        data-kt-scroll-dependencies="#kt_modal_add_user_header"
                        data-kt-scroll-wrappers="#kt_modal_add_user_scroll"
                        data-kt-scroll-offset="300px"
                      >
                        <!--begin::Input group-->
                        <div class="fv-row mb-7">
                          <!--begin::Label-->
                          <label class="required fw-semibold fs-6 mb-2"
                            >Full Name</label
                          >
                          <!--end::Label-->
                          <!--begin::Input-->
                          <input
                            type="text"
                            formControlName="displayName"
                            class="form-control form-control-solid mb-3 mb-lg-0"
                            placeholder="Full name"
                          />
                          <!--end::Input-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="fv-row mb-7">
                          <!--begin::Label-->
                          <label class="required fw-semibold fs-6 mb-2"
                            >Email</label
                          >
                          <!--end::Label-->
                          <!--begin::Input-->
                          <input
                            type="email"
                            formControlName="email"
                            class="form-control form-control-solid mb-3 mb-lg-0"
                            placeholder="example@domain.com"
                          />
                          <!--end::Input-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="fv-row mb-7" *ngIf="!editingUser">
                          <!--begin::Label-->
                          <label class="required fw-semibold fs-6 mb-2"
                            >Password</label
                          >
                          <!--end::Label-->
                          <!--begin::Input-->
                          <input
                            type="password"
                            formControlName="password"
                            class="form-control form-control-solid mb-3 mb-lg-0"
                            placeholder="Temporary password"
                          />
                          <!--end::Input-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="mb-7">
                          <!--begin::Label-->
                          <label class="required fw-semibold fs-6 mb-5"
                            >Role</label
                          >
                          <!--end::Label-->
                          <!--begin::Roles-->
                          <div class="d-flex flex-column">
                            <ng-container *ngFor="let role of roleOptions; let idx = index">
                              <div class="d-flex fv-row">
                                <div class="form-check form-check-custom form-check-solid">
                                  <input
                                    class="form-check-input me-3"
                                    formControlName="role"
                                    type="radio"
                                    [value]="role.value"
                                    [id]="'kt_modal_update_role_option_' + idx"
                                  />
                                  <label
                                    class="form-check-label"
                                    [for]="'kt_modal_update_role_option_' + idx"
                                  >
                                    <div class="fw-bold text-gray-800">
                                      {{ role.title }}
                                    </div>
                                    <div class="text-gray-600">
                                      {{ role.description }}
                                    </div>
                                  </label>
                                </div>
                              </div>
                              <div
                                class="separator separator-dashed my-5"
                                *ngIf="idx < roleOptions.length - 1"
                              ></div>
                            </ng-container>
                          </div>
                          <!--end::Roles-->
                        </div>
                        <!--end::Input group-->
                        <div class="mb-7" *ngIf="userForm.controls.role.value === 'Procurement'">
                          <label class="fw-semibold fs-6 mb-5">Procurement Sub-roles</label>
                          <div class="d-flex flex-column gap-4">
                            <label
                              class="form-check form-check-custom form-check-solid"
                              *ngFor="let option of procurementSubRoleOptions"
                            >
                              <input
                                type="checkbox"
                                class="form-check-input me-3"
                                [checked]="isSubRoleSelected(option.value)"
                                (change)="onSubRoleToggle(option.value, $any($event.target).checked)"
                              />
                              <span class="form-check-label">
                                <span class="fw-bold text-gray-800 d-block">{{ option.title }}</span>
                                <span class="text-gray-600">{{ option.description }}</span>
                              </span>
                            </label>
                          </div>
                        </div>
                      </div>
                      <!--end::Scroll-->
                        <!--begin::Actions-->
                        <div class="text-center pt-15">
                          <button
                            type="reset"
                            class="btn btn-light me-3"
                            data-bs-dismiss="modal"
                            (click)="onCancel()"
                            [disabled]="isSubmitting"
                          >
                            Discard
                          </button>
                          <button
                            type="submit"
                            class="btn btn-primary"
                            data-kt-users-modal-action="submit"
                            [disabled]="userForm.invalid || isSubmitting"
                          >
                            <span class="indicator-label" *ngIf="!isSubmitting">
                              {{ editingUser ? 'Update' : 'Submit' }}
                            </span>
                            <span class="indicator-progress" *ngIf="isSubmitting"
                              >Please wait...
                              <span
                                class="spinner-border spinner-border-sm align-middle ms-2"
                              ></span
                            ></span>
                          </button>
                        </div>
                        <!--end::Actions-->
                      </form>
                    <!--end::Form-->
                  </div>
                  <!--end::Modal body-->
                </div>
                <!--end::Modal content-->
              </div>
              <!--end::Modal dialog-->
            </div>
            <!--end::Modal - Add task-->
          </div>
          <!--end::Card toolbar-->
        </div>
          <!--end::Card header-->
          <!--begin::Card body-->
          <div class="card-body py-4">
            <!--begin::Table-->
            <table
              class="table align-middle table-row-dashed fs-6 gy-5"
              id="kt_table_users"
            >
            <thead>
              <tr
                class="text-start text-muted fw-bold fs-7 text-uppercase gs-0"
              >
                <th class="min-w-125px">User</th>
                <th class="min-w-125px">Role</th>
                <th class="min-w-125px">Last login</th>
                <th class="min-w-100px">Status</th>
                <th class="text-end min-w-125px">Actions</th>
              </tr>
            </thead>
            <tbody class="text-gray-600 fw-semibold">
              <tr *ngIf="isLoading">
                <td colspan="5" class="text-center py-10">
                  <span class="spinner-border text-primary" role="status" aria-hidden="true"></span>
                </td>
              </tr>
              <tr *ngIf="!isLoading && !users.length">
                <td colspan="5" class="text-center py-10 text-muted">
                  No users found.
                </td>
              </tr>
              <tr *ngFor="let user of users; trackBy: trackById" class="align-middle">
                <td class="d-flex align-items-center">
                  <div class="d-flex flex-column">
                    <span class="text-gray-800 text-hover-primary mb-1 fw-semibold">{{ user.displayName }}</span>
                    <span class="text-muted">{{ user.email }}</span>
                  </div>
                </td>
                <td>
                  <div>{{ user.role }}</div>
                  <div class="text-gray-600 fs-7" *ngIf="user.subRoles?.length">
                    Sub-roles: {{ user.subRoles.join(', ') }}
                  </div>
                </td>
                <td>
                  <span class="text-muted">—</span>
                </td>
                <td>
                  <div class="badge badge-light fw-bold">Active</div>
                </td>
                <td class="text-end">
                  <div class="dropdown">
                    <button
                      class="btn btn-light btn-active-light-primary btn-flex btn-center btn-sm dropdown-toggle"
                      type="button"
                      data-bs-toggle="dropdown"
                      [disabled]="deletingIds.has(user.id)"
                    >
                      Actions
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                      <li>
                        <button
                          type="button"
                          class="dropdown-item"
                          data-bs-toggle="modal"
                          data-bs-target="#kt_modal_add_user"
                          (click)="startEdit(user)"
                          [disabled]="deletingIds.has(user.id)"
                        >
                          Edit
                        </button>
                      </li>
                      <li>
                        <button
                          type="button"
                          class="dropdown-item"
                          (click)="deleteUser(user)"
                          [disabled]="deletingIds.has(user.id)"
                        >
                          <span *ngIf="!deletingIds.has(user.id)">Delete</span>
                          <span *ngIf="deletingIds.has(user.id)">
                            Deleting...
                          </span>
                        </button>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <!--end::Table-->
          <div class="d-flex flex-column flex-sm-row align-items-sm-center justify-content-between pt-5 gap-4">
            <div class="d-flex align-items-center gap-3">
              <label class="form-label fw-semibold mb-0">Rows per page</label>
              <select
                class="form-select form-select-sm w-auto"
                [value]="paginationState.pageSize"
                (change)="changePageSize($any($event.target).value)"
              >
                <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
              </select>
            </div>
            <div class="d-flex flex-column flex-sm-row align-items-sm-center gap-3 w-100 justify-content-sm-end">
              <div class="text-muted">
                <ng-container *ngIf="usersPage; else noResults">
                  Showing
                  <strong>{{ (usersPage.pageNumber - 1) * usersPage.pageSize + (users.length ? 1 : 0) }}</strong>
                  -
                  <strong>{{ (usersPage.pageNumber - 1) * usersPage.pageSize + users.length }}</strong>
                  of
                  <strong>{{ usersPage.totalCount }}</strong>
                  users
                </ng-container>
                <ng-template #noResults>Showing 0 of 0 users</ng-template>
              </div>
              <nav aria-label="Pagination navigation">
                <ul class="pagination pagination-circle pagination-outline mb-0">
                  <li
                    class="page-item previous me-1"
                    [class.disabled]="!usersPage || currentPage <= 1 || isLoading"
                  >
                    <a class="page-link" href="#" (click)="$event.preventDefault(); changePage(currentPage - 1)">
                      <i class="previous"></i>
                    </a>
                  </li>
                  <li
                    class="page-item m-1"
                    *ngFor="let page of pageNumbers"
                    [class.active]="page === currentPage"
                  >
                    <a
                      class="page-link"
                      href="#"
                      (click)="$event.preventDefault(); changePage(page)"
                      [attr.aria-current]="page === currentPage ? 'page' : null"
                    >
                      {{ page }}
                    </a>
                  </li>
                  <li
                    class="page-item next ms-1"
                    [class.disabled]="!usersPage || currentPage >= (totalPages || 1) || isLoading"
                  >
                    <a class="page-link" href="#" (click)="$event.preventDefault(); changePage(currentPage + 1)">
                      <i class="next"></i>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <!--end::Card body-->
      </div>
      <!--end::Card-->
    </div>
    <!--end::Content container-->
  </div>
  <!--end::Content-->
</div>
<!--end::Content wrapper-->
