<!--begin::Content wrapper-->
<div class="d-flex flex-column flex-column-fluid">
  <!--end::Toolbar-->
  <!--begin::Content-->
  <div id="kt_app_content" class="app-content flex-column-fluid">
    <!--begin::Content container-->
    <div id="kt_app_content_container" class="app-container container-xxl">
      <!--begin::Card-->
      <div class="card">
        <!--begin::Card header-->
        <div class="card-header border-0 pt-6">
          <!--begin::Card title-->
          <div class="card-title">
            <!--begin::Search-->
            <div class="d-flex align-items-center position-relative my-1">
              <i class="ki-duotone ki-magnifier fs-3 position-absolute ms-5">
                <span class="path1"></span>
                <span class="path2"></span>
              </i>
              <input
                type="text"
                data-kt-user-table-filter="search"
                class="form-control form-control-solid w-250px ps-13"
                placeholder="Search user"
              />
            </div>
            <!--end::Search-->
          </div>
          <!--begin::Card title-->
          <!--begin::Card toolbar-->
          <div class="card-toolbar">
            <!--begin::Toolbar-->
            <div
              class="d-flex justify-content-end"
              data-kt-user-table-toolbar="base"
            >
              <!--begin::Add user-->
              <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#kt_modal_add_user"
              >
                <i class="ki-duotone ki-plus fs-2"></i>Add User
              </button>
              <!--end::Add user-->
            </div>
            <!--end::Toolbar-->
            <!--begin::Group actions-->
            <div
              class="d-flex justify-content-end align-items-center d-none"
              data-kt-user-table-toolbar="selected"
            >
              <div class="fw-bold me-5">
                <span
                  class="me-2"
                  data-kt-user-table-select="selected_count"
                ></span
                >Selected
              </div>
              <button
                type="button"
                class="btn btn-danger"
                data-kt-user-table-select="delete_selected"
              >
                Delete Selected
              </button>
            </div>
            <!--end::Group actions-->
            
            <!--begin::Modal - Add task-->
            <div
              class="modal fade"
              id="kt_modal_add_user"
              tabindex="-1"
              aria-hidden="true"
            >
              <!--begin::Modal dialog-->
              <div class="modal-dialog modal-dialog-centered mw-650px">
                <!--begin::Modal content-->
                <div class="modal-content">
                  <!--begin::Modal header-->
                  <div class="modal-header" id="kt_modal_add_user_header">
                    <!--begin::Modal title-->
                    <h2 class="fw-bold">Add User</h2>
                    <!--end::Modal title-->
                    <!--begin::Close-->
                    <div
                      class="btn btn-icon btn-sm btn-active-icon-primary"
                      data-kt-users-modal-action="close"
                    >
                      <i class="ki-duotone ki-cross fs-1">
                        <span class="path1"></span>
                        <span class="path2"></span>
                      </i>
                    </div>
                    <!--end::Close-->
                  </div>
                  <!--end::Modal header-->
                  <!--begin::Modal body-->
                  <div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
                    <!--begin::Form-->
                    <form
                      id="kt_modal_add_user_form"
                      class="form"
                      action="#"
                      [formGroup]="userForm"
                      (ngSubmit)="onSubmit()"
                    >
                      <!--begin::Scroll-->
                      <div
                        class="d-flex flex-column scroll-y me-n7 pe-7"
                        id="kt_modal_add_user_scroll"
                        data-kt-scroll="true"
                        data-kt-scroll-activate="{default: false, lg: true}"
                        data-kt-scroll-max-height="auto"
                        data-kt-scroll-dependencies="#kt_modal_add_user_header"
                        data-kt-scroll-wrappers="#kt_modal_add_user_scroll"
                        data-kt-scroll-offset="300px"
                      >
                        <!--begin::Input group-->
                        <div class="fv-row mb-7">
                          <!--begin::Label-->
                          <label class="d-block fw-semibold fs-6 mb-5"
                            >Avatar</label
                          >
                          <!--end::Label-->
                          <!--begin::Image placeholder-->
                          <style>
                            .image-input-placeholder {
                              background-image: url("/assets/media/svg/files/blank-image.svg");
                            }
                            [data-bs-theme="dark"] .image-input-placeholder {
                              background-image: url("/assets/media/svg/files/blank-image-dark.svg");
                            }
                          </style>
                          <!--end::Image placeholder-->
                          <!--begin::Image input-->
                          <div
                            class="image-input image-input-outline image-input-placeholder"
                            data-kt-image-input="true"
                          >
                            <!--begin::Preview existing avatar-->
                            <div
                              class="image-input-wrapper w-125px h-125px"
                              style="
                                background-image: url(assets/media/avatars/300-6.jpg);
                              "
                            ></div>
                            <!--end::Preview existing avatar-->
                            <!--begin::Label-->
                            <label
                              class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                              data-kt-image-input-action="change"
                              data-bs-toggle="tooltip"
                              title="Change avatar"
                            >
                              <i class="ki-duotone ki-pencil fs-7">
                                <span class="path1"></span>
                                <span class="path2"></span>
                              </i>
                              <!--begin::Inputs-->
                              <input
                                type="file"
                                name="avatar"
                                accept=".png, .jpg, .jpeg"
                              />
                              <input type="hidden" name="avatar_remove" />
                              <!--end::Inputs-->
                            </label>
                            <!--end::Label-->
                            <!--begin::Cancel-->
                            <span
                              class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                              data-kt-image-input-action="cancel"
                              data-bs-toggle="tooltip"
                              title="Cancel avatar"
                            >
                              <i class="ki-duotone ki-cross fs-2">
                                <span class="path1"></span>
                                <span class="path2"></span>
                              </i>
                            </span>
                            <!--end::Cancel-->
                            <!--begin::Remove-->
                            <span
                              class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                              data-kt-image-input-action="remove"
                              data-bs-toggle="tooltip"
                              title="Remove avatar"
                            >
                              <i class="ki-duotone ki-cross fs-2">
                                <span class="path1"></span>
                                <span class="path2"></span>
                              </i>
                            </span>
                            <!--end::Remove-->
                          </div>
                          <!--end::Image input-->
                          <!--begin::Hint-->
                          <div class="form-text">
                            Allowed file types: png, jpg, jpeg.
                          </div>
                          <!--end::Hint-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="fv-row mb-7">
                          <!--begin::Label-->
                          <label class="required fw-semibold fs-6 mb-2"
                            >Full Name</label
                          >
                          <!--end::Label-->
                          <!--begin::Input-->
                          <input
                            type="text"
                            formControlName="displayName"
                            class="form-control form-control-solid mb-3 mb-lg-0"
                            placeholder="Full name"
                          />
                          <!--end::Input-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="fv-row mb-7">
                          <!--begin::Label-->
                          <label class="required fw-semibold fs-6 mb-2"
                            >Email</label
                          >
                          <!--end::Label-->
                          <!--begin::Input-->
                          <input
                            type="email"
                            formControlName="email"
                            class="form-control form-control-solid mb-3 mb-lg-0"
                            placeholder="example@domain.com"
                          />
                          <!--end::Input-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="fv-row mb-7">
                          <!--begin::Label-->
                          <label class="required fw-semibold fs-6 mb-2"
                            >Password</label
                          >
                          <!--end::Label-->
                          <!--begin::Input-->
                          <input
                            type="password"
                            formControlName="password"
                            class="form-control form-control-solid mb-3 mb-lg-0"
                            placeholder="Temporary password"
                          />
                          <!--end::Input-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="mb-7">
                          <!--begin::Label-->
                          <label class="required fw-semibold fs-6 mb-5"
                            >Role</label
                          >
                          <!--end::Label-->
                          <!--begin::Roles-->
                          <div class="d-flex flex-column">
                            <ng-container *ngFor="let role of roleOptions; let idx = index">
                              <div class="d-flex fv-row">
                                <div class="form-check form-check-custom form-check-solid">
                                  <input
                                    class="form-check-input me-3"
                                    formControlName="role"
                                    type="radio"
                                    [value]="role.value"
                                    [id]="'kt_modal_update_role_option_' + idx"
                                  />
                                  <label
                                    class="form-check-label"
                                    [for]="'kt_modal_update_role_option_' + idx"
                                  >
                                    <div class="fw-bold text-gray-800">
                                      {{ role.title }}
                                    </div>
                                    <div class="text-gray-600">
                                      {{ role.description }}
                                    </div>
                                  </label>
                                </div>
                              </div>
                              <div
                                class="separator separator-dashed my-5"
                                *ngIf="idx < roleOptions.length - 1"
                              ></div>
                            </ng-container>
                          </div>
                          <!--end::Roles-->
                        </div>
                        <!--end::Input group-->
                      </div>
                      <!--end::Scroll-->
                        <!--begin::Actions-->
                        <div class="text-center pt-15">
                          <button
                            type="reset"
                            class="btn btn-light me-3"
                            data-kt-users-modal-action="cancel"
                            [disabled]="isSubmitting"
                          >
                            Discard
                          </button>
                          <button
                            type="submit"
                            class="btn btn-primary"
                            data-kt-users-modal-action="submit"
                            [disabled]="userForm.invalid || isSubmitting"
                          >
                            <span class="indicator-label" *ngIf="!isSubmitting">Submit</span>
                            <span class="indicator-progress" *ngIf="isSubmitting"
                              >Please wait...
                              <span
                                class="spinner-border spinner-border-sm align-middle ms-2"
                              ></span
                            ></span>
                          </button>
                        </div>
                        <!--end::Actions-->
                      </form>
                    <!--end::Form-->
                  </div>
                  <!--end::Modal body-->
                </div>
                <!--end::Modal content-->
              </div>
              <!--end::Modal dialog-->
            </div>
            <!--end::Modal - Add task-->
          </div>
          <!--end::Card toolbar-->
        </div>
          <!--end::Card header-->
          <!--begin::Card body-->
          <div class="card-body py-4">
            <div *ngIf="alertMessage" class="alert" [ngClass]="'alert-' + alertType" role="alert">
              {{ alertMessage }}
            </div>
            <!--begin::Table-->
            <table
              class="table align-middle table-row-dashed fs-6 gy-5"
              id="kt_table_users"
            >
            <thead>
              <tr
                class="text-start text-muted fw-bold fs-7 text-uppercase gs-0"
              >
                <th class="w-10px pe-2">
                  <div
                    class="form-check form-check-sm form-check-custom form-check-solid me-3"
                  >
                    <input
                      class="form-check-input"
                      type="checkbox"
                      data-kt-check="true"
                      data-kt-check-target="#kt_table_users .form-check-input"
                      value="1"
                    />
                  </div>
                </th>
                <th class="min-w-125px">User</th>
                <th class="min-w-125px">Role</th>
                <th class="min-w-125px">Last login</th>
                <th class="text-end min-w-100px">Actions</th>
              </tr>
            </thead>
            <tbody class="text-gray-600 fw-semibold">
              <tr *ngIf="isLoading">
                <td colspan="5" class="text-center py-10">
                  <span class="spinner-border text-primary" role="status" aria-hidden="true"></span>
                </td>
              </tr>
              <tr *ngIf="!isLoading && !users.length">
                <td colspan="5" class="text-center py-10 text-muted">
                  No users found.
                </td>
              </tr>
              <tr *ngFor="let user of users; trackBy: trackById" class="align-middle">
                <td>
                  <div class="form-check form-check-sm form-check-custom form-check-solid">
                    <input class="form-check-input" type="checkbox" />
                  </div>
                </td>
                <td class="d-flex align-items-center">
                  <!--begin:: Avatar -->
                  <div class="symbol symbol-circle symbol-50px overflow-hidden me-3">
                    <div class="symbol-label fs-2 bg-light text-gray-600">
                      {{ user.displayName ? (user.displayName[0] || '?') : '?' }}
                    </div>
                  </div>
                  <!--end::Avatar-->
                  <!--begin::User details-->
                  <div class="d-flex flex-column">
                    <span class="text-gray-800 text-hover-primary mb-1 fw-semibold">{{ user.displayName }}</span>
                    <span class="text-muted">{{ user.email }}</span>
                  </div>
                  <!--end::User details-->
                </td>
                <td>{{ user.role }}</td>
                <td>
                  <div class="badge badge-light fw-bold">Active</div>
                </td>
                <td class="text-end">
                  <a
                    href="#"
                    class="btn btn-light btn-active-light-primary btn-flex btn-center btn-sm"
                    data-kt-menu-trigger="click"
                    data-kt-menu-placement="bottom-end"
                    >Actions <i class="ki-duotone ki-down fs-5 ms-1"></i
                  ></a>
                </td>
              </tr>
            </tbody>
          </table>
          <!--end::Table-->
        </div>
        <!--end::Card body-->
      </div>
      <!--end::Card-->
    </div>
    <!--end::Content container-->
  </div>
  <!--end::Content-->
</div>
<!--end::Content wrapper-->
