<ng-container *ngIf="isAuthenticated; else authRoutes">
  <!--begin::App-->
  <div class="d-flex flex-column flex-root app-root" id="kt_app_root">
    <!--begin::Page-->
    <div class="app-page flex-column flex-column-fluid" id="kt_app_page">
      <app-header
        [title]="activePageTitle"
        [session]="session"
        [roles]="roles"
        [currentRole]="currentRole"
        (roleChange)="onRoleChange($event)"
        (logout)="logout()"
      />
      <!--begin::Wrapper-->
      <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
        <!--begin::Sidebar-->
        <app-sidebar
          [currentRole]="currentRole"
          [menuItems]="sidebarMenu"
          [roles]="roles"
          [session]="session"
          (roleChange)="onRoleChange($event)"
        ></app-sidebar>
        <!--end::Sidebar-->
        <!--begin::Main-->
        <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
          <div class="d-flex flex-column flex-column-fluid">
            <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
              <div
                id="kt_app_toolbar_container"
                class="app-container container-fluid d-flex flex-stack"
              >
                <div
                  class="page-title d-flex flex-column justify-content-center flex-wrap me-3"
                >
                  <h1
                    class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0"
                  >
                    {{ activePageTitle }}
                  </h1>
                  <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                    <li class="breadcrumb-item text-muted">
                      <a [routerLink]="['/']" class="text-muted text-hover-primary">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                      <span class="bullet bg-gray-400 w-5px h-2px"></span>
                    </li>
                    <li class="breadcrumb-item text-muted">{{ activePageTitle }}</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="app-content flex-column-fluid" id="kt_app_content">
              <div class="app-container container-fluid">
                <router-outlet />
              </div>
            </div>
          </div>
          <app-footer />
        </div>
        <!--end::Main-->
      </div>
      <!--end::Wrapper-->
    </div>
    <!--end::Page-->
  </div>
  <!--end::App-->

  <!--begin::Scrolltop-->
  <div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
    <i class="ki-duotone ki-arrow-up">
      <span class="path1"></span>
      <span class="path2"></span>
    </i>
  </div>
  <!--end::Scrolltop-->
</ng-container>

<ng-template #authRoutes>
  <router-outlet />
</ng-template>
